#newsmedia-nav .scrollable {
    margin-bottom: 20px;
}

.img-edit-form {
    padding: 10px;
}

#content .imgblock {
    margin: 10px 20px;
    padding: 10px;
    border: 1px solid #cccccc;
}

#content .imgblock li {
    height: 218px;
    width: 218px;
    display: inline-table;
    margin: 10px 5px;
    text-align: center;
	background-color:#ddd;
	border:1px solid #ccc;
    vertical-align: text-bottom;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#content .imglist {
    list-style-type: none;
    margin: 0 auto;
}

#content .imglist .imgwrap {
    display: table-cell;
    width: 192px;
    height: 192px;
    text-align: center;
	margin:0;
	padding:2px;
    vertical-align: bottom;
}
#content .imgblock li img {
    vertical-align: text-top;
}

#content .imgdel {
    display: block;
    margin-bottom: 0;
}

#content a.imgdel:link {
    border-bottom: 0 solid #fff;
}
