# buildout.cfg file for Plone 4 development work
# - for production installations please use http://plone.org/download
# Each part has more information about its recipe on PyPi
# http://pypi.python.org/pypi 
# ... just reach by the recipe name
[buildout]
parts =
    instance
    zopepy
    i18ndude
    test
    omelette

extends =
    http://dist.plone.org/release/4.1b2/versions.cfg
    http://good-py.appspot.com/release/dexterity/1.0b7?plone=4.1b2

find-links =
    http://dist.plone.org/release/4.1b2
    http://dist.plone.org/thirdparty

extensions =
    mr.developer
    buildout.dumppickedversions
    buildout.threatlevel

unzip = true
versions = versions
sources = sources
auto-checkout =
    Products.Collage
    collective.portlet.tal
    Products.ContentWellPortlets
    collective.disqus
    cienciasalud.newsmedia
    cienciasalud.theme
    collective.atomsyndication

develop = 
# If you're not using mr.developer to manage develop eggs, list eggs here. Globs OK.
#    src/*


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs = 
    Plone
# 3rd Party for Plone
    PIL
    collective.carousel
# development packages
    Products.Collage
    collective.portlet.tal
    Products.ContentWellPortlets
    collective.disqus
    cienciasalud.newsmedia
    cienciasalud.theme
    collective.atomsyndication
# development tools
    plone.reload
    Products.DocFinderTab
    Products.PDBDebugMode
zcml =
    collective.carousel
    collective.portlet.tal

# create bin/i18ndude command
[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[test]
recipe = zc.recipe.testrunner
eggs = 
    cienciasalud.newsmedia
    cienciasalud.theme
    collective.atomsyndication
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']

[sources]
Products.Collage = svn https://svn.plone.org/svn/collective/Products.Collage/trunk
collective.portlet.tal = svn https://svn.plone.org/svn/collective/collective.portlet.tal/trunk/
Products.ContentWellPortlets = svn https://weblion.psu.edu/svn/weblion/weblion/Products.ContentWellPortlets/trunk
cienciasalud.newsmedia = fs cienciasalud.newsmedia
cienciasalud.theme = fs cienciasalud.theme
collective.disqus = svn https://svn.plone.org/svn/collective/collective.disqus/trunk
collective.atomsyndication = git git://github.com/collective/collective.atomsyndication.git
#collective.carousel = svn https://svn.plone.org/svn/collective/collective.carousel/trunk

[versions]
collective.monkeypatcher = 1.0.1
collective.z3cform.datetimewidget = 1.0.4
plone.autoform = 1.0b6
plone.z3cform = 0.7.3
z3c.form = 2.4.2
zc.sourcefactory = 0.7.0
zope.schema = 3.7.1
