[buildout]
extensions =
    mr.developer
    buildout.dumppickedversions
    buildout.threatlevel

parts =
    instance
    zopepy
    i18ndude
    test
    omelette

extends =
    http://dist.plone.org/release/4.1/versions.cfg
    http://good-py.appspot.com/release/dexterity/1.0?plone=4.1&plone.app.theming=1.0b8

find-links =
    http://dist.plone.org/release/4.1
    http://dist.plone.org/thirdparty

unzip = true
versions = versions
sources = sources
auto-checkout = *

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    Plone
    Pillow
    Products.Collage==1.3.6
    Products.ContentWellPortlets==3.0
    collective.carousel==1.4
    collective.disqus==0.3.1
# development packages
    Products.CompositePack
    cienciasalud.bluetheme
    collective.atomsyndication
    collective.portlet.tal
    collective.nitf
# development tools
    plone.reload
    Products.Clouseau
    Products.DocFinderTab
    Products.PDBDebugMode

zcml =
    collective.carousel
    collective.portlet.tal

environment-vars =
    zope_i18n_compile_mo_files true

# create bin/i18ndude command
[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[test]
recipe = zc.recipe.testrunner
eggs =
    Pillow
    Products.CompositePack
    cienciasalud.bluetheme
    collective.atomsyndication [test]
    collective.nitf [test]
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']

[sources]
Products.CompositePack = svn https://svn.plone.org/svn/collective/Products.CompositePack/trunk
cienciasalud.bluetheme = git git@github.com:saibatizoku/cienciasalud.bluetheme.git
collective.atomsyndication = git git@github.com:collective/collective.atomsyndication.git
collective.nitf = git git@github.com:collective/collective.nitf.git
collective.portlet.tal = svn https://svn.plone.org/svn/collective/collective.portlet.tal/trunk/
