[buildout]
extends =
    base.cfg
    http://dist.plone.org/release/4.0/versions.cfg
    http://good-py.appspot.com/release/dexterity/1.0b2?plone=4.0

http-address = 8080
effective-user = plone

eggs =
    Plone
    PIL==1.1.6
    Products.Collage
    Products.ContentWellPortlets
    cienciasalud.newsmedia
    cienciasalud.theme
    collective.carousel
    collective.disqus
    collective.portlet.tal

zcml =
#    plone.reload
    collective.carousel
    collective.portlet.tal

develop =
    src/collective.carousel
    src/Products.ContentWellPortlets
    src/cienciasalud.theme
    src/cienciasalud.newsmedia

debug-mode = off
deprecation-warnings = off
verbose-security = off
backups-dir=${buildout:directory}/var
user=admin:admin

parts =
    instance
    zopepy
    zopeskel
    unifiedinstaller
    chown

[versions]
Cheetah = 2.2.1
Paste = 1.7.4
PasteScript = 1.7.3
Products.Collage = 1.3.0-final
Products.DocFinderTab = 1.0.4
ZopeSkel = 2.17
collective.recipe.backup = 1.4
collective.recipe.omelette = 0.9
mr.developer = 1.15
plone.recipe.command = 1.1
plone.recipe.osxcontroller = 0.4
plone.recipe.unifiedinstaller = 4.0rc1
PasteDeploy = 1.3.3
